.daemonbtn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 160px;
  height: 40px;
  font-size: 16px;
  background-color: #F28E00;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.daemonbtn svg {
  width: 15px;
  margin-right: 5px;
}
.daemonbtn svg path {
  opacity: 1;
}
.statbox {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.statbox span {
  display: block;
  font-size: 18px;
  width: 150px;
}