
/* CPU */
.cpubody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cpuupper {
  width: 80%;
  display: flex;
  flex-direction: row;
}
.cpuleft {
  width: 50%;
  margin: 50px;
}
.cpuright {
  width: 50%;
  margin: 50px;
}
.cpucaption {
  font-size: 20px;
}
.cpuarchs {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.cpuarchs div {
  margin: 10px
}

/* Memory */
.membody {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.memcaption {
  font-size: 20px;
}
.memecc {
  width: 100%;
}
.memecc input {
  width: 20px;
  height: 20px;
}
.memecc span {
  margin-left: 20px;
}

/* Os */
.osradio {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.osradioitem {
  padding: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border: solid 1px #f28e00;
}
.osradioitem:hover {
  -webkit-box-shadow: 10px 10px 40px 3px #f28e00aa;
  -moz-box-shadow: 10px 10px 40px 3px #f28e00aa;
  box-shadow: 10px 10px 40px 3px #f28e00aa;
}

/* Storage */
.advstoselect {
  width: 450px;
  display: flex;
  flex-direction: row;
}
.advstoaddbtn {
  border: none;
  cursor: grab;
  margin-left: 30px;
  width: 220px;
  height: 45px;
  background-color: #F28E00;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advstoaddbtn:hover {
  background-color: white;
  color: #f28e00;
  border: solid 1px #f28e00;
}

/* PCI */
.pciselectors {
  display: flex;
  flex-direction: row;
}
.pciselectvendor {
  width: 350px;
}
.pciselectmodel {
  width: 450px;
  margin-left: 30px;
}
.pcitable {
  white-space: nowrap;
  max-width: 80%;
  margin-top: 30px;
}
.pcitable td {
  max-width: 300px;
  overflow: scroll;
}

/*  Resume */
.resbody {
  width: 60%;
  max-width: 600px;
  overflow-y: hidden;
  overflow: scroll;
}
@media screen and (max-width: 900px) {
  .resbody {
    width: 100%;
  }
}
.resitems {
  min-width: 400px;
  margin: 20px;
  background-color: #F28E00;
  color: white;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 10px 10px 40px 3px #f28e00aa;
  -moz-box-shadow: 10px 10px 40px 3px #f28e00aa;
  box-shadow: 10px 10px 40px 3px #f28e00aa;
}
.resitembox {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.resitemtitle {
  display: block;
  font-weight: bold;
  width: 200px;
}
.resitemvalue {
  display: block;
  width: 100%;
}
.btnregister {
  border: none;
  width: 200px;
  height: 45px;
  margin-top: 20px;
  background-color: #F28E00;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnregister:hover {
  background-color: white;
  color: #f28e00;
  border: solid 1px #f28e00;
}
.restoplogo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 150px;
  height: 150px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(20, 200, 30);
}
.reslogo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(30,30,30);
}
.resspec {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.resspectitle {
  font-size: 35px;
}
.resspecname {
  font-size: 14px;
  font-style: italic;
}