body {
  background-color: black;
  color: #ffa600;
}
input {
  background-color: black;
  color: #ffa600;
  border-color: #ffa600;
}
button {
  background-color: black;
  color: #ffa600;
  border-color: #ffa600;
}
a {
  color: #ffa600;
}